<%= render 'breadcrumb' %>

<div class="d-flex">
  <h1><%= @model.name %></h1>
  <%= link_to 'edit', [:edit, @brand, @model], class: "ml-3"  %>

  <% if @model.images.first %>
    <div class="ml-auto" style="flex: 0 0 200px">
      <%= image_tag url_for(@model.images.first), class: "w-100" %>
    </div>
  <% end %>
</div>

<%= render "models/gallery" %>

<%= render "models/model_table", models: @model.children %>

<%= render "models/info" %>
