<p id="notice"><%= notice %></p>

<%= content_for :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Anasayfa", root_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @brand.name %>
      </li>
    </ol>
  </nav>
<% end %>

<div class="d-flex">
  <div style="width: 100px; height: 100px; flex: 0 0 100px; order: 1; margin-left: auto">
    <%= image_tag url_for(@brand.logo), alt: @brand.name, class: "w-100" %>
  </div>
  <h1><%= @brand.name %></h1>
  <%= link_to "edit", [:edit, @brand], class: "ml-3" %>
  <%= link_to "models", brand_models_path(@brand), class: "ml-3" %>
  <%= link_to "new model", new_brand_model_path(@brand), class: "ml-3" %>
</div>

<div class="row">
  <% @models.each do |model, sub_models| %>
    <%= render "models/top_model_card", model: model %>
  <% end %>
</div>